<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>玩图PwP -play with pictures</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static 'assets/ico/favicon.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static 'assets/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static 'assets/ico/apple-touch-icon-114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static 'assets/ico/apple-touch-icon-72-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'assets/ico/apple-touch-icon-57-precomposed.png' %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>玩图</strong> Login</h1>
                    {#                    <div class="description">#}
                    {#                        <p>#}
                    {#                            This is a free responsive login form made with Bootstrap.#}
                    {#                            Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!#}
                    {#                        </p>#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login to our site</h3>
                            <p>Enter your username and password to sign in</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="login-form">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="username" placeholder="Username..."
                                       class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="password" placeholder="Password..."
                                       class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group">
                                <p id="warning" style="color: red;float: left;" align="start">提示</p>
                                <p style="color: white" align="end" data-toggle="modal" data-target="#SignUp">没有账户?</p>
                            </div>
                            <button type="button" class="btn form-control" id="SignIn">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>Third Party Login</h3>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-2" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="SignUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-header form-bottom">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;"><span
                    aria-hidden="true" id="close">&times;</span></button>
            <h4 class="modal-title text-center" id="myModalLabel" style="color: white;font-size: x-large">注册账号</h4>
        </div>
        <div class="modal-body form-bottom">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Full Name" required="required" id="fullName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Email Address" required="required" id="email">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="User Name" required="required" id="userName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Password" required="required" id="password">
            </div>
            <div class="form-group">
                <p style="color: red;float: left" id="warning2">提示</p>
                <p style="visibility: hidden;">占位</p>
            </div>
            <div class="form-group text-center">
                <button type="button" class="btn btn-blue btn-block" id="start">Start Now</button>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
<script>
    $("#warning").hide();
    $("#warning2").hide();
    $("#SignIn").click(function () {
        $.post("{% url 'play_picture:validate' %}",
            {
                username: $("#form-username").val(),
                password: $("#form-password").val(),
            },
            function (data, status) {
                if (status === "success")
                    if (data.stat === 1000)
                        window.location.href = "http://127.0.0.1:8000/play_picture/personal/" + data.msg.toString();
                    else
                        $("#warning").text(data.msg).show()
            });
    });
    $("#start").click(function () {
        $.post("{% url 'play_picture:register' %}",
            {
                nickname: $("#fullName").val(),
                email: $("#email").val(),
                username: $("#userName").val(),
                password: $("#password").val(),
            },
            function (data, status) {
                if (status === "success")
                    if (data.stat === 1001)
                        $("#warning2").text(data.msg).show();
                    else
                        window.location.href = "http://127.0.0.1:8000/play_picture/personal/" + data.msg.toString();
            });
    });
</script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.backstretch.min.js' %}"></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>

<!--[if lt IE 10]>
            <script src="{% static 'assets/js/placeholder.js' %}"></script>
        <![endif]-->

</body>

</html>